@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 25px;
   background: black;
   text-decoration: none;

}

footer a {
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    color: orangered;
    font-size: 15px;
}
