{% extends 'base.html' %}

{% block title %}
    Edit Rod
{% endblock %}

{% block content %}
    <div class="outer-wrapper">
        <div class="inner-wrapper">
            <form method="post" action="{% url 'edit_rod' pk=rod.pk %}">
                {{ form.as_div }}
                {% csrf_token %}
                <button class="delete-button">Промени</button>
            </form>

            <div class="edit-rod-move-down">
                <a href="{% url 'rod_details' pk=rod.pk %}">
                    <button class="go-back-btn">Назад</button>
                </a>
            </div>

        </div>
    </div>

{% endblock %}


