{% extends 'base.html' %}

{% block title %}
    Delete Chepare
{% endblock %}


{% block content %}


    <div>
        <form method="post" action="{% url 'delete_chepare' pk=chepare.pk %}">
            <div class="rod-position">
                <h2 class="empty-item-message">Сигурен ли си ,че искаш да изтриеш {{ chepare.type|upper }} ?</h2>
                {% csrf_token %}

                <button class="delete-button">ИЗТРИЙ</button>
            </div>
        </form>
        <div class="center-del-button">
            <a href="{% url 'chepare_details' pk=chepare.pk %}">
                <button class="go-back-from-delete">Назад</button>
            </a>
        </div>
    </div>


{% endblock %}