{% extends 'base.html' %}
{% load filters %}

{% block title %}
    Chepareta
{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
        <div class="rod-position">
            <a href="{% url 'create_chepare' %}">
                <button class="add-button">Добави Чепаре</button>
            </a>
        </div>
    {% endif %}

    <form method="get">
        <div class="sort-data">
            {{ sort_form.as_div }}
            <button type="submit" class="sort-button">Сортирай</button>
        </div>
        <div class="sort-data">
            {{ filters.as_div }}
            <button type="submit" class="sort-button">Филтрирай</button>
            <a href="{% url 'display_chepareta' %}">
                <button class="sort-button" name="clear_filters">Изчисти филтрите</button>
            </a>
        </div>
    </form>

    <div class="container mx-auto mt-4">
        <div class="row">
            {% if object_list %}
                {% for chepare in object_list %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            {% if not chepare.image %}
                                <img src="https://cdn1.focus.bg/bazar//1a/original/1a58c968975254c3f449e8e1dcf26ece.jpg"
                                     class="card-img-top" alt="влакно">

                            {% else %}
                                <img src="{{ chepare.image }}" class="card-img-top" alt="влакно">

                            {% endif %}
                            <div class="card-body">
                                <p class="card-text">Тип: {{ chepare.type|upper }} </p>
                                <h5 class="card-title">Брой куки: {{ chepare.number_of_hooks }}</h5>
                                <h6 class="card-subtitle mb-2">Номер кука: {{ chepare.hook_number }}</h6>
                                <h6 class="card-subtitle mb-2">Цвят: {{ chepare.color|upper }}</h6>
                                <h6 class="card-subtitle mb-2">
                                    Майка/бидем: {{ chepare.main_line_thickness|floatformat:2 }}
                                    / {{ chepare.semi_main_line_thickness|floatformat:2 }}</h6>
                                <h6 class="card-subtitle mb-2">Цена: {{ chepare.price|floatformat:2 }}лв.</h6>

                                <h6 class="card-text">Добавено от: {{ chepare.created_by.username|capfirst }}</h6>


                                <a href="{% url 'chepare_details' pk=chepare.pk %}">
                                    {% if user.is_superuser or user|has_group:"staff" or user.pk == chepare.created_by.pk %}
                                        <button class="add-button">Промяна</button>
                                    {% else %}
                                        <button class="add-button">Детайли</button>
                                    {% endif %}
                                </a>

                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% elif not object_list %}
                {% if all_chepareta %}
                    <h1 class="empty-item-message">Няма такова чепаре.</h1>

                {% elif user.is_authenticated %}
                    <h1 class="empty-item-message">Няма добавени чепарета.</h1>

                {% else %}
                    <h1 class="empty-item-message">Няма добавени чепарета.За да добавите чепаре, моля да се регистрирате
                        или да влезете в профила си.</h1>

                {% endif %}
            {% endif %}
        </div>
    </div>


{% endblock %}